.post img {
    display: block;
    height: 300px;
    margin: 2rem auto;
}

// This is the image
.post div {
    width: 50%;
    margin: auto;
}

.post {
    text-align: center;
}

.btn-primary {
    background: $accentColor;
}