.post img {
    display: block;
    height: 300px;
}

// This is the image
.post div {
    width: 50%;
    margin: auto;
}

.post {
    text-align: center;
}

.btn-primary {
    background: $accentColor;
}

#disqus_thread {
    padding-top: 5rem;
}

table {
    display: table;
    width: 100%;
}

.custom-block.tip {
    border-color: $accentColor;
}

.text-container {
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}